@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');
html {
    height: 100%;
    scroll-padding-top: 90px;
}

:root {
    /* --primary-color: #6d9ba4; */
    --primary-color: #667eea;
    --text-color: #4c51bf;
    --bg: #f3f4ff;
    --dark: #38416f;
    --green: #6d9ba4;
    --pink: #bf8594;
    --yellow: #efcb8a;
}

input,
textarea {
    outline: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-size: 18px;
    /* color: #485680; */
    /* background: #F6F6F6; */
    background: #f7fafc;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1500px;
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article>*+* {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

::-webkit-scrollbar {
    width: 6px;
    background: none;
}


/* Track */


/* Handle */

::-webkit-scrollbar-thumb {
    background: #A7A6A6;
    border-radius: 5px;
    width: 6px;
}

nav {
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}